i {
    color: #a68c69;
}
p{
    color: #a68c69;
}
nav li a {
    color: #a68c69
}
.btn {
    background-color: #a68c69
}
.nav-link{
    color: #a68c69 !important
}
.btn ,.btn i{
    color: #FFF !important
}