i {
    color: #e0d6b2;
}
p{
    color: #e0d6b2;
}
nav li a {
    color: #e0d6b2
}
.btn {
    background-color: #e0d6b2
}
.nav-link{
    color: #e0d6b2 !important
}
.btn ,.btn i{
    color: #FFF !important
}