i {
    color: #b6cd71;
}
p{
    color: #b6cd71;
}
nav li a {
    color: #b6cd71
}
.btn {
    background-color: #b6cd71
}
.nav-link{
    color: #b6cd71 !important
}
.btn,.btn i{
    color: #FFF !important
}