i {
    color: #697060;
}
p{
    color: #697060;
}
nav li a {
    color: #697060
}
.btn {
    background-color: #697060
}
.nav-link{
    color: #697060 !important
}
.btn,.btn i{
    color: #FFF !important
}