i {
    color: #aaa5ff;
}
p{
    color: #aaa5ff;
}
nav li a {
    color: #aaa5ff
}
.btn {
    background-color: #aaa5ff
}
.nav-link{
    color: #aaa5ff !important
}
.btn,.btn i{
    color: #FFF !important
}