i {
    color: #3bdbad;
}
p{
    color: #3bdbad;
}
nav li a {
    color: #3bdbad
}
.btn {
    background-color: #3bdbad
}
.nav-link{
    color: #3bdbad !important
}
.btn,.btn i{
    color: #FFF !important
}