i {
    color: #f3a76d;
}
p{
    color: #f3a76d;
}
nav li a {
    color: #f3a76d
}
.btn {
    background-color: #f3a76d
}
.nav-link{
    color: #f3a76d !important
}
.btn,.btn i{
    color: #FFF !important
}