i {
    color: #8ec249;
}
p{
    color: #8ec249;
}
nav li a {
    color: #8ec249
}
.btn {
    background-color: #8ec249
}
.nav-link{
    color: #8ec249 !important
}
.btn,.btn i{
    color: #FFF !important
}