i {
    color: #fa6900;
}
p{
    color: #fa6900;
}
nav li a {
    color: #fa6900
}
.btn {
    background-color: #fa6900
}
.nav-link{
    color: #fa6900 !important
}
.btn,.btn i{
    color: #FFF !important
}