i {
    color: #ff0104;
}
p{
    color: #ff0104;
}
nav li a {
    color: #ff0104
}
.btn {
    background-color: #ff0104
}
.nav-link{
    color: #ff0104 !important
}
.btn,.btn i{
    color: #FFF !important
}