i {
    color: #4bd5ea;
}
p{
    color: #4bd5ea;
}
nav li a {
    color: #4bd5ea
}
.btn {
    background-color: #4bd5ea
}
.nav-link{
    color: #4bd5ea !important
}
.btn,.btn i{
    color: #FFF !important
}