i {
    color: #00b9bd;
}
p{
    color: #00b9bd;
}
nav li a {
    color: #00b9bd
}
.btn {
    background-color: #00b9bd
}
.nav-link{
    color: #00b9bd !important
}
.btn,.btn i{
    color: #FFF !important
}