i {
    color: #ba01ff;
}
p{
    color: #ba01ff;
}
nav li a {
    color: #ba01ff
}
.btn {
    background-color: #ba01ff
}
.nav-link{
    color: #ba01ff !important
}
.btn,.btn i{
    color: #FFF !important
}