i {
    color: #228dff;
}
p{
    color: #228dff;
}
nav li a {
    color: #228dff
}
.btn {
    background-color: #228dff
}
.nav-link{
    color: #ba01ff !important
}
.btn,.btn i{
    color: #FFF !important
}