i {
    color: #fabe28;
}
p{
    color: #fabe28;
}
nav li a {
    color: #fabe28
}
.btn {
    background-color: #fabe28
}
.nav-link{
    color: #fabe28 !important
}
.btn,.btn i{
    color: #FFF !important
}